/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.product-listing.ng-enter,
.product-listing.ng-leave,
.product-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.product-listing.ng-enter,
.product-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.product-listing.ng-move.ng-move-active,
.product-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.product-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.product-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.product-images {
  background-color: white;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  float: left;
  display: block;
}

.product-images img {
	display: none;
}

.product-images img.active {
	display: block;
}

img.product {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

ul.product-thumbs {
  margin: 0;
  list-style: none;
}

ul.product-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.product-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.product-thumbs img:hover {
  cursor: pointer;
}

img.product-list-thumb {
	max-height: 140px;
	max-width: 140px;
}